<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Login - Lost & Found</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Your CSS -->
  <link rel="stylesheet" href="auth.css">

  <!-- AngularJS CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="AuthController">

<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-4">

      <!-- LOGIN -->
      <div class="card shadow mb-3" ng-show="showLogin" style="margin-top: 100px;">

        <div class="card-header text-center text-white" style="background-color: black;">
          Login
        </div>

        <div class="card-body">

          <input ng-model="loginData.rollNo" class="form-control mb-2" placeholder="Roll No">
          <input ng-model="loginData.password" type="password" class="form-control mb-2" placeholder="Password">

          <button class="btn btn-danger w-100" ng-click="login()">Login</button>

          <p class="text-center mt-2">
            New user?
            <a href="" ng-click="toggle()">Register</a>
          </p>

        </div>
      </div>

      <!-- REGISTER -->
      <div class="card shadow" ng-show="!showLogin" style="margin-top: 100px;">

        <div class="card-header text-center text-white" style="background-color: black;">
          Register
        </div>

        <div class="card-body">

          <input ng-model="registerData.rollNo" class="form-control mb-2" placeholder="Roll No">
          <input ng-model="registerData.password" type="password" class="form-control mb-2" placeholder="Password">

          <select ng-model="registerData.role" class="form-control mb-2">
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>

          <button class="btn btn-danger w-100" ng-click="register()">Register</button>

          <p class="text-center mt-2">
            Already have account?
            <a href="" ng-click="toggle()">Login</a>
          </p>

        </div>
      </div>

    </div>
  </div>

</div>

<script>

var app = angular.module("app", []);

app.controller("AuthController", function($scope, $http){

  $scope.showLogin = true;

  $scope.loginData = {};
  $scope.registerData = { role: "user" };

  // Toggle login/register
  $scope.toggle = function(){
    $scope.showLogin = !$scope.showLogin;
  };

  // Register
  $scope.register = function(){

    $http.post("/auth/register", $scope.registerData)
    .then(function(res){
      alert(res.data);
      $scope.showLogin = true;
    })
    .catch(function(err){
      alert("Error");
    });

  };

  // Login
  $scope.login = function(){

    $http.post("/auth/login", $scope.loginData)
    .then(function(res){

      if(res.data.role){

        localStorage.setItem("user", JSON.stringify(res.data));

        window.location.href = "index.html";

      } else {
        alert("Invalid login");
      }

    })
    .catch(function(err){
      alert("Server error");
    });

  };

});

</script>

</body>
</html>